<center><h2><%=num1%> <%=function%> <%=num2%> = <%=oc%></h2>




<form method = "post" action= "answer">
	<input type = "hidden" name = "firstname" value = "<%=firstname%>">
	<input type = "hidden" name = "lastname" value = "<%=lastname%>">
	<input type = "submit" value = "Next Equation">
	</form></center>
